body {
  background: url(bg1.jpeg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: "Nunito", sans-serif;
}

.resumetotal {
  /* background: red; */
  /* position: relative; */
}
.makeStyles-timeLineItem-3 {
  background: rgb(0, 0, 0);
}
.makeStyles-resumehead-81 {
  color: #ffffff;
  font-family: Nunito;
  font-weight: bold;
  padding: 1 rem;
  margin: 2 rem auto;
  border: 1 px solid #ffffff;
  display: inline-block;
  text-align: center;
}
.makeStyles-timeLineItem-4 {
  clear: both;
  margin: 1rem3rem1rem1rem;
  padding: 1rem;
  position: relative;
  border-bottom: 5px solid #f54a5c;
  background: #fffcfc;
  border-radius: 0.2rem;
  font-family: "Nunito", sans-serif;
}
.makeStyles-subHeading-7 {
  color: #f54a5c;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Nunito";
  font-size: 1.4rem;
  margin: 0 0 0.5 rem;
}
.makeStyles-subHeading-7 {
  color: #f54a5c;
  padding: 0;
  text-transform: uppercase;
  font-family: "Nunito";
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.5 rem;
}
